<footer class="container">
  <p class="line">Hello Astro.</p>
  <p class="line">@hey3</p>
</footer>
<style>
  .container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    justify-content: center;
    padding: 8px 0;
    background-color: #1e1e1e;
  }

  .line {
    font-size: 12px;
    font-weight: bold;
    line-height: 1.5;
    color: #a2a2a2;
  }
</style>
